*
    font-family: 'Poppins', sans-serif

@import "libs/bootstrap-reboot.min"
@import "libs/fonts"
@import "libs/variables"
@import "libs/mixins"
@import "blocks/promo"
@import "blocks/title"
@import "blocks/button"

.container
    width: 1140px
    margin: 0 auto
