@media (max-width: 1342px)
    .social-link_promo
        display: none

@media (max-width: 1200px)
    .container
        max-width: 960px
    .social-link_promo
        display: none
    .title_promo-h1
        font-size: 41px
        line-height: 50px
        width: 400px
    .title
        &_about-me
            font-size: 36px
        &_about-me-skill
            font-size: 12px
            line-height: 21px
        &_about-me1
            margin-top: 9px
            line-height: 24px
    .about-me
        &__container
            grid-template-columns: 400px 518px
            column-gap: 40px
        &__skills
            grid-template-columns: 220px 220px
            gap: 0 70px
        &__skill
            grid-template-columns: 40px 1fr
    .experience-dsc
        column-gap: 20px
    .work
        &__technologies
            justify-content: space-between
        &__levels
            grid-auto-rows: 70px
            justify-content: space-around
    .results
        &__works
            justify-content: space-around
            grid-auto-rows: 280px
            row-gap: 35px
            padding-top: 40px
        &__prices
            padding-top: 20px
            justify-content: space-between
            grid-template-columns: repeat(2, minmax(auto, 370px))
    [data-results-work="4"]
        grid-column: unset
        grid-row: unset
    [data-results-work="6"]
        grid-column: unset
        grid-row: unset
    .contacts
        &__wapper
            grid-template-columns: 350px auto
            column-gap: 10px
            justify-content: space-between
        &__form
            grid-template-columns: repeat(2, minmax(auto, 280px))
        &__img
            object-fit: cover
            width: 100%
            height: 600px

@media (max-width: 992px)

    .container
        max-width: 720px
        padding: 0 20px
    .about-me
        padding-top: 40px
        &__text
            margin-top: 35px
        &__container
            grid-template-columns: 1fr
            grid-template-rows: 600px auto auto
            column-gap: 40px
        &__img
            grid-row: unset
            justify-self: center
            img
                object-fit: cover
                max-width: 100%
                height: 100%
        &__skills
            margin-top: 20px
            grid-template-columns: 1fr 1fr
            gap: 20px 0
        &__skill
            grid-template-columns: 40px 1fr
    .title
        &_about-me
            font-size: 36px
            margin-top: 26px
        &_about-me1
            margin-left: 16px
            margin-top: 46px
            line-height: 24px
    .experience-dsc
        row-gap: 40px
        justify-content: center
        padding-top: 40px
        &__column
            row-gap: 0px
        &__item
            margin-top: 10px
            &_m-t45px
                margin-top: 45px
    .work
        &__levels
            justify-content: center
    .results
        &__prices
            grid-template-columns: repeat(2, minmax(auto, 300px))
    .contacts
        &__img
            display: none
        &__wapper
            justify-content: center
            grid-template-columns: auto

@media (max-width: 767px)
    .container
        max-width: 540px
        padding: 0 20px
    .title_promo-h1
        font-size: 35px
        line-height: 44px
    .work
        &__technologies
            justify-content: center
            row-gap: 20px
    .about-me
        &__container
            grid-template-columns: 1fr
            column-gap: 40px
    .results
        &__prices
            justify-content: center
            grid-template-columns: minmax(auto, 370px)
            row-gap: 15px
    .contacts
        &__wapper
            justify-content: center

@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 25px
    .title
        &_promo-h1
            font-size: 25px
            line-height: 34px
            max-width: 288px
    .promo
        background: url(../img/Background.jpg) no-repeat 57%/cover

    .menu
        left: -110%
        padding: 140px 19px 0 55px
        &__active
            left: -25px
            width: 250px
    .button_modifire
        max-width: 259px
    .about-me
        &__skills
            margin-top: 20px
            grid-template-columns: 1fr
            gap: 20px 0
        &__skill
            justify-self: center
            grid-template-columns: 40px 200px

    .work
        &__technologies
            justify-content: center
        &__levels
            grid-template-columns: repeat(auto-fit, 250px)
    .experience-dsc
        grid-template-columns: 1fr
    .results
        &__elements
            grid-template-rows: repeat(2, 44px)
    .contacts
        &__form
            grid-template-columns: unset
            grid-template-rows: auto
        &__text
            grid-column: unset
