.social-link
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 2
    a
        width: 20px
        img
            width: 100%
    &_menu
        width: 90px
        min-height: 20px
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)
    &_promo
        position: fixed
        left: 25px
        top: 226px
        flex-direction: column
        align-items: center
        height: 338px
        width: 24px
        a
            transform: rotate(-90deg)
    &__text
        height: 140px
        width: 24px
        span
            font-family: Poppins
            font-weight: bold
            font-size: 16px
            color: #000000
            transform: rotate(-90deg) translate(-36%,-277%)
            display: block
            width: 150px

    &__strip
        display: block
        width: 1px
        height: 70px
        background-color: #000
