.social-link
    display: flex
    justify-content: space-between
    align-items: center
    a
        width: 20px
        img
            width: 100%
    &_menu
        width: 90px
        min-height: 20px
        position: absolute
        bottom: 52px
        left: 103px
    &_promo
        position: absolute
        left: 50px
        transform: rotate(-90deg)
        width: 338px
        min-height: 24px
