.title
    font-family: Poppins
    font-weight: 700
    position: relative
    z-index: 1
    &_disk
        @include disk
    &_fz16
        font-size: 16px

    &_promo-h1
        width: 532px
        font-size: 48px
        line-height: 60px
    &_promo-h2
        font-size: 16px
        line-height: 24px

    &_about-me
        font-size: 36px
        margin-top: 6px
    &_about-me-skill
        font-size: 14px
        line-height: 21px
        font-weight: 700
    &_about-me1
        margin-left: 16px
        margin-top: 9px
        line-height: 24px

    &_experience-h2
        margin: 0
        font-size: 16px
        line-height: 24px
        text-align: center
        &::before
            left: 48.4%
            top: -6px
    &_experience-h3
        text-align: center
        font-size: 36px
        line-height: 60px
        @include line
        &::after
            position: relative
            left: 50%
            transform: translateX(-50%)
            margin-top: 25px

    &_experience-grid
        font-size: 20px
        line-height: 30px
    &_work-h3
        padding-left: 14px
        padding-top: 8px
        font-weight: 700
        font-size: 14px
        line-height: 21px
        &::before
            top: 0px
            left: 0px
